:root {
  font-family: 'Montserrat', serif;

  --animation: 350ms linear;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* / */
/* 
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #dc56c5;
  border-radius: 3px;
}

modal scrollbar
.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  margin: 15px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #dc56c5;
  border-radius: 15px;
} */
