<section class="cards__section">
  <div class="container">
    <ul class="cards__list">
      <!-- <li class="cards__item">
        <img src="../img/card.png" alt="" class="cards__img" />
        <h4 class="cards__event">Eurovision 2021 finals!</h4>
        <p class="cards__date">2021-05-13</p>
        <p class="cards__place">
          <img src="../img/place.svg" alt="" />
          Palace of Ukraine
        </p>
      </li> -->
    </ul>
  </div>
</section>

<!-- js -->

<!-- <li class="cards__item">
          <img src="${card.url}" alt="" class="cards__img" />
          <h4 class="cards__event">${card.name}</h4>
          <p class="cards__date">${card.dates}</p>
          <p class="cards__place">
            <img src="../img/place.svg" alt="" />
            ${card.locate}
          </p>
      </li> -->
