<!-- <div class="backdrop show-modal" data-modal>
  <div class="modal">
    <button type="button" class="modal__btn-close" data-modal-close>
      <svg class="modal__close">
        <use href="../img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <img src="../img/pic.png" alt="" class="modal__main-img" />

    <ul class="modal__list">
      <li class="modal__item">
        <h3 class="modal__title">INFO</h3>
        <p class="modal__text">
          Atlas Weekend is the largest music festival in Ukraine. More than 200
          artists will create a proper music festival atmosphere on 10 stages
        </p>
      </li>
      <li class="modal__item">
        <h3 class="modal__title">WHEN</h3>
        <p class="modal__text">2021-06-09</p>
        <p class="modal__text">20:00 (Kyiv/Ukraine)</p>
      </li>
      <li class="modal__item">
        <h3 class="modal__title">WHERE</h3>
        <p class="modal__text">Kyiv, Ukraine</p>
        <p class="modal__text">VDNH</p>
      </li>
      <li class="modal__item">
        <h3 class="modal__title">WHO</h3>
        <p class="modal__text">The Black Eyed Peas</p>
      </li>
      <li class="modal__item">
        <h3 class="modal__title">PRICES</h3>
        <p class="modal__text">
          <svg class="modal__icon">
            <use href="../img/symbol-defs.svg#icon-ticket"></use>
          </svg>

          Standart 300-500 UAH
        </p>
        <button class="modal__btn">BUY TICKETS</button>
        <p class="modal__text">
          <svg><use href="../img/symbol-defs.svg#icon-ticket"></use></svg>

          VIP 1000-1500 UAH
        </p>
        <button class="modal__btn">BUY TICKETS</button>
      </li>
    </ul>

    <button class="modal__btn-more">MORE FROM THIS AUTHOR</button>
  </div>
</div> -->
